<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1><%= topic.title %></h1>
    
    <% if(currentUser) { %>
    <% if(currentUser.isAdmin()) { %>
    <a href="/topics/<%= topic.id %>/edit" class="btn btn-warning">Edit</a>

    <form style="display:initial" action="/topics/<%= topic.id %>/destroy" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <% } %>
    <% } %>
    <a href="/topics" class="btn btn-secondary">Cancel</a>
    <p><%= topic.description %></p>
    <p>
      <span><strong>Flairs: <strong></span>
      <% topic.flairs.forEach((flair) => { %>
      <a href="/topics/<%= topic.id %>/flairs/<%= flair.id %>"><span class="badge badge-info"><%= flair.name %> : <%= flair.color %></span></a>
      <% }) %>
    </p>
    <a href="/topics/<%= topic.id %>/flairs/new" class="h6">New Flair</a>

    <hr>

    <h1>Posts</h1>

    <% if(currentUser) { %>
    <a href="/topics/<%= topic.id %>/posts/new" class="btn btn-success">New Post</a>
    <% } %>


    <ul class="list-group">
      <% topic.posts.forEach((post) => { %>
      <li class="list-group-item">
        <a href="/topics/<%= topic.id %>/posts/<%= post.id %>"> <%= post.title %> </a>
      </li>
      <% }) %>
    </ul>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>
